.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
   height: 130px;
   background-image: linear-gradient(0, #2f2d2d, #313538);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}

.header__navbar-item, 
.header__navbar-item-link
{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    /* bỏ dấu ngoặc của thẻ a */
}

.header__navbar-icon-link {
    color: var(--white-color);
}
.header__navbar-item header__navbar-item--strong{
     font-weight: 400;
}

/* Header with search */
.header-with-search{
    height: 99.27px;
    display: flex;
    align-items: center;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 170px;
    margin-top: 10px;
}

.header__search{
    background-color: #0e0101;
    flex: 1;
    width: 585px;
    height: 40px;
    border-radius: 2px;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-style: solid;
    border-width: thin;
}

.header__cart{
    width: 150px;
    height: 99.27px;
    text-align: center;
}

.header__cart-icon{
   font-size: 2.4rem;
    color: var(--black-color);
    margin-top: 30px;
}

/* App container */
.app__container{
    background-color: white;
}

.app__content{
    margin-top: 24px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon{
    font-size: 1.6rem;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {

}

.category-item--active .category-item__link {
    color: red;
}

.category-item--active .category-item__link::before {
    
}
.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color:red
}

/* Home sort +filter */
.home-filter{
    background-color: #0d90df;
    display: flex;
    align-items: center;
    padding: 8px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: white;
    margin-left: 16px;
    margin-right: 12px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__btn:hover{
    color: red;
}

/* Home + shop filter */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 0.1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item__img{
    width: 100%;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 0;
}

.home-product-item__price{

}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: red;
}

/* footer */
.footer {
    background-color: #0d90df;
    margin-top: 20px;
    padding-top: 16px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-list {
    padding-left: 0%;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 10px 0;
    display: block;
}

.footer-item__link:hover {
    color: var(--text-color);
}

.footer-img {
    width: 110px;
}